<% title "Candidate" %>

<p>
  <strong>
    <%= @candidate.name %>
  </strong>
</p>

<%= image_tag avatar_url(@candidate) %>

<p>
  <strong>Links</strong>
<ul>
  <li>
    <%= link_to "Github", "http://www.github.com/" + @candidate.github_name %>
  </li>
  <li>
    <%= link_to "LinkedIn" + @candidate.linked_in %>
  </li>
</ul>
</p>

<p>
  <strong>Email</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Notes</strong>
  <%= @candidate.notes %>
</p>

<p>
  <%= link_to "Edit", edit_candidate_path(@candidate) %> |
  <%= link_to "View All", candidates_path %>
</p>
